@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8b6c4c;
  --secondary: #f5efe6;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

html {
  scroll-behavior: smooth;
}

.curved-decoration {
  position: absolute;
  right: 0;
  top: 0;
  width: 471px;
  height: 941px;
  background-image: url("/fundo.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: white;
  margin: 0 8px;
}

